* {
    box-sizing: border-box;
    margin: 10px;0;
    padding: 0;
}
.posts {
   
    justify-content:center;
    background-color: green;
    max-width: 400px;
    width: 90%;
    margin-bottom: 80px;
    height: 100px;
    font-size: 10px;
}
.overlay {
    position: fixed;
    top:0;
    left:0;
    width:50%;
    height: 50%;
    background-color: rgb(201, 137, 20);
    color: #fff;
    opacity: 80%;
    display: none;
    padding: 80px;
}
.activeOverlay {
    display: block;
}
.close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 35px;
    color:#fff;
    cursor: pointer;
}
.add-post {
    width: 40px;
    height: 40px;
    background-color: blue;
    color:#fff;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.overlay-add {
    position: fixed;
    top:0;
    left:0;
    width:50%;
    height: 50%;
    background-color: blueviolet;
    color: #fff;
    opacity: 80%;
    display: none;
    padding: 80px;
}
.addPost {
    display: block;
}


